{% extends 'store/main.html' %}
{% load static %}
{% block content %}

	<div class="spinner"></div>
     <div class="row">
		
		<div class="col-lg-6">
			<div class="box-element" id="form-wrapper">
				<form id="form">
					<div id="user-info">
						<div class="form-field">
							<input required class="form-control" type="text" name="name" placeholder="Name..">
						</div>
						<div class="form-field">
							<input required class="form-control" type="email" name="email" placeholder="Email..">
						</div>
					</div>

					<div id="shipping-info">
						<hr>
						<p>Shipping Information:</p>
						<hr>
						<div class="form-field">
							<input class="form-control" type="text" name="address" placeholder="Address..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="country" placeholder="Country..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="city" placeholder="City..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="state" placeholder="State..">
						</div>
						<div class="form-field">
							<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
						</div>
					</div>

					<hr>
					<input id="form-button" class="btn btn-primary btn-block" type="submit" value="Continue">
				</form>
			</div>

			<br>
			<div class="box-element hidden" id="payment-info">
				<div class="card mb-3">
					<div class="card-body momo-pay d-flex justify-content-end">
						<button 
							class="btn btn-warning" 
							
							data-toggle="modal" data-target="#momoNumberModal"
						>
							Pay with momo
							<img class="row-image" src="/images/momo.jfif" />
						</button>
					</div>
				</div>
				<small>Paypal Options</small>
				<!--<button class="btn btn-outline-dark" id="make-payment">Make payment</button>-->
				<div id="paypal-button-container"></div>
			</div>

		</div>

		<div class="col-lg-6">
			<div class="box-element">
				<a  class="btn btn-outline-dark" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
				<hr>
				<h3>Order Summary</h3>
				<hr>
				{% for item in items %}
				<div class="cart-row">
					<div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
					<div style="flex:2"><p>{{item.product.name}}</p></div>
					<div style="flex:1"><p>GH₵ {{item.product.price|floatformat:2}}</p></div>
					<div style="flex:1"><p>x{{item.quantity}}</p></div>
				</div>
				{% endfor %}
				<h5>Items:   {{order.get_cart_items}}</h5>
				<h5>Total:   GH₵ {{order.get_cart_total|floatformat:2}}</h5>
			</div>
		</div>
	</div>

	
  <!-- Modal -->
  <div class="modal fade" id="momoNumberModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title" id="exampleModalLabel">Momo Number</h5>
		  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
			<div class="form-group">
				<label>Enter Momo Number to use for transaction</label>
				<input required class="form-control" type="text" id="momoPhone" name="phone" placeholder="024...">
			</div>
			<div class="form-group">
				<label for="exampleFormControlTextarea1">Transaction Message</label>
				<textarea class="form-control" id="momoMsg" rows="3"></textarea>
			</div>
		</div>
		<div class="modal-footer">
		  <button id="momoCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		  <button type="button" class="btn btn-primary" onclick="processMomo()">Submit</button>
		</div>
	  </div>
	</div>
  </div>

  <button class="d-none" id="msgPB" data-toggle="modal" data-target="#MsgModal">.</button>
  <div class="modal fade" id="MsgModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-body">
			<h4 id="msgP"><h4>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
		</div>
	  </div>
	</div>
  </div>

     <script src="https://www.paypal.com/sdk/js?client-id=AX-VrJu4eVcZgosPFC05U3X6XhpsOyfGU-M3TmlAXB6f4Z6Di6VZIHzMseRlKX3dWyuKn8dFJzTvnnP4&currency=USD&disable-funding=credit"></script>

	<script>
		var total = '{{order.get_cart_total}}'
        // Render the PayPal button into #paypal-button-container
        paypal.Buttons({

        	style: {
                color:  'blue',
                shape:  'rect',
            },

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value:parseFloat(total).toFixed(2)
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    submitFormData()
                });
            }

        }).render('#paypal-button-container');
    </script>

	<script type="text/javascript">
		var _interval = null // For keeping track of momo approval status
		var shipping = '{{order.shipping}}'

		if (shipping == 'False'){
		 	document.getElementById('shipping-info').innerHTML = ''
		}

		if (user == 'AnonymousUser'){
		 	document.getElementById('user-info').innerHTML = ''
		 }

		if (shipping == 'False' && user != 'AnonymousUser'){
			//Hide entire form if user is logged in and shipping is false
				document.getElementById('form-wrapper').classList.add("hidden");
				//Show payment if logged in user wants to buy an item that does not require shipping
			    document.getElementById('payment-info').classList.remove("hidden");
		}

		var form = document.getElementById('form')
		form.addEventListener('submit', function(e){
	    	e.preventDefault()
	    	console.log('Form Submitted...')
	    	document.getElementById('form-button').classList.add("hidden");
	    	document.getElementById('payment-info').classList.remove("hidden");
	    })


	    /*document.getElementById('make-payment').addEventListener('click', function(e){
	    	submitFormData()
	    })*/


	    function submitFormData(){
	    	console.log('Payment button clicked')

	    	var userFormData = {
				'name':null,
				'email':null,
				'total':total,
			}

			var shippingInfo = {
				'address':null,
				'city':null,
				'state':null,
				'zipcode':null,
			}

			if (shipping != 'False'){
	    		shippingInfo.address = form.address.value
		    	shippingInfo.city = form.city.value
		    	shippingInfo.state = form.state.value
		    	shippingInfo.zipcode = form.zipcode.value
	    	}

	    	if (user == 'AnonymousUser'){
	    		userFormData.name = form.name.value
	    		userFormData.email = form.email.value
	    	}

	    	var url = "/process_order/"
	    	fetch(url, {
	    		method:'POST',
	    		headers:{
	    			'Content-Type':'applicaiton/json',
	    			'X-CSRFToken':csrftoken,
	    		},
	    		body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),

	    	})
	    	.then((response) => response.json())
	    	.then((data) => {
				console.log('Success:', data);
				document.getElementById("msgP").innerHTML = 'Transaction completed'
				document.getElementById("momoCancel").click()
				document.getElementById("msgPB").click()
				cart = {}
				document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"
				setTimeout(()=>window.location.href = "{% url 'store' %}", 2000)

				})
	    }

		async function processMomo(){
			document.querySelector(".spinner").style.display = "inline-block"
			console.log('momo paying')
			let phone = document.getElementById('momoPhone').value
			let msg = document.getElementById('momoMsg').value
			console.log(phone, msg)

			let body = {
				amount : {{order.get_cart_total}},
				msg,
				phone
			}

			console.log(body)
			let data = await fetch("/process_momo",
			{
				method: "POST",
				headers:{
	    			'Content-Type':'application/json',
	    			'X-CSRFToken':csrftoken,
	    		},
				body : JSON.stringify(body)
			})
			data = await data.json();

			if(data.status){
				_interval = setInterval(async()=>{
					let res = await fetch("/verify_momo_tx/" + data.ref)
					res = await res.json()
					if(res.status){
						document.getElementById("msgP").innerHTML = res.msg
						document.getElementById("momoCancel").click()
						document.getElementById("msgPB").click()
						clearInterval(_interval)
						setTimeout(()=>submitFormData(), 2000)
						
					}
					document.querySelector(".spinner").style.display = "none"
				}, 5000)

			}else{
				document.getElementById("msgP").innerHTML = data.msg
				document.getElementById("momoCancel").click()
				document.getElementById("msgPB").click()
				document.querySelector(".spinner").style.display = "none"
			}
		}
	</script>

{% endblock content %}