{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<section class="section min-vh-100 d-flex flex-column align-items-center justify-content-center landing-section">
    <h1 style="color: #4154f1">AFRIMART</h1>
    <h2 class="text-center" style="color: #012970;width: 80%">
        Welcome to Afrimart, buy all your products 
        both locally and foreign made right here with no stress.
    </h2>
    <h4 style="color: #012970">
        Happy Shopping
    </h4>
    {% if user.is_authenticated %}
    <a class="landing-btn btn" href="{% url 'store' %}">Go to Shop</a>
    {% endif %}
    <img src="/images/landing.png" class="img-fluid py-5 landing-img" alt="Landing page image">
    
</section>
{% endblock %}