{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<nav class="navbar navbar-light bg-light">
     <div class="row">
      {% for product in products %}
        <div class="col-6 col-sm-4 my-2">
            <img class="thumbnail" src="{{ product.imageURL }}">
            <div class="box-element product">
                <h6><strong>{{ product.name }}</strong></h6>
                <hr>
                <div class="d-flex justify-content-between">
                  {% if user.is_authenticated %}
                    <div>
                      <button data-product={{ product.id }} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                      <a class="btn btn-outline-primary" href="{% url 'product' product.id %}">View</a>
                    </div>
                  {% endif%}
                    <h6 class="d-flex">
                      <strong>GH₵ {{ product.price|floatformat:2 }}</strong>
                    </h6>
                </div>
            </div>
        </div>
      {% endfor product in products %}
    </div>
{% endblock content %}